.campo-main{
    display: flex;
    margin: 5% 5% ;
    /* border: 15px solid white; */

}

.campo-main img{
    width: 35%;
    margin-right: 55px;
    border-radius: 15px;
    box-shadow: 1px 1px 19px 3px #d39dea;
}

.title{
    color: #d39dea;
    font-size: 2vw;
    margin-top: 20px;
}

.campo-main p{
    margin-top: 20px;
    color: aliceblue;
    font-size: 1.15vw;
}