.header{
    width: 100%;
    background-image: url('/public/img/fondocyber.jpg');
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
}

.header img{
    width: 20vh;
    margin-left: 10vh;
}

.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    padding: 1px;
}
.nav-list span {
    font-size: 12px;
    font-weight: 900 bold;
    color: #79FFA0;

}

@media screen and (max-width: 900px) and (min-with:500px) {
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        background-color: #8E44AD;
        box-shadow: 0 0 0 100vmax rgba(118, 49, 124, 0.5);
        opacity: 1;
    }
    
    
        .nav-list {
            /* display: none; */
            margin: 2% 10% ;
            align-items: start;
            bottom: 10%;
            /* background: #8E44AD; */
    
        }
    

}