.btn{
    background-color: transparent;
    margin-right:19px;
    margin-top: 4vh;
    border:none;
    display: inline;
}
.enlace{
    display: flex;
    justify-content: start;
    text-decoration: none;
    background-color: #d39dea;
    color: black;
    font-weight: 900;
    border-radius: 15px;
    padding: 10px 15px;
    
}